
# markdown
## markdown
### markdown
#### markdown
- python
  - python 1
  - python 2
    - python 1
    - python 2
- *python*
- **python**
- ***python***

In [2]:
print("hello world")

hello world

In [3]:
print("HELLO WORLD")

HELLO WORLD

In [4]:
print("balu","sister","laxmi")

balu sister laxmi

In [5]:
a=10 #single variable assained to single value#
print(a)

10

In [6]:
a=b=c=10 #multiple variables assained to single value#
print(a,b,c)

10 10 10

In [7]:
a,b,c=10,20,30 #multiple variables assained to multiple values#
print(a,b,c)

10 20 30

# Data types:
  - integer
  - float
  - string

In [8]:
# int
a=5
print(a, type(a))

5 <class 'int'>

In [9]:
#float
a=2.5
print(a,type(a))

2.5 <class 'float'>

In [12]:
#string
a="NAIDU RAMBHA"
print(a, type(a))

NAIDU RAMBHA <class 'str'>

# Data conversion
  - integer-->**int**
  - float-->**float**
  - string-->**str**

n=10
print(n,type(n))
f=float(n)
print(f,type(f))
s=str(n)
print(s,type(s))

In [21]:
f=1.3
print(f,type(f))
n=int(f)
print(n,type(n))
s=str(f)
print(s,type(s))

1.3 <class 'float'>
1 <class 'int'>
1.3 <class 'str'>

In [25]:
s="123"
print(s,type(s))
n=int(s)
print(n,type(n))
f=float(s)
print(f,type(f))

123 <class 'str'>
123 <class 'int'>
123.0 <class 'float'>

# Display three string “Name”, “Is”, “James” as “Name**Is**James”

In [26]:
a="NAME"
b="IS"
c="JAMES"
print(a,b,c)

NAME IS JAMES

# Write a Python program which accepts the radius of a circle from the user and compute the area

In [29]:
# input as text
a=input("enter your name:")
print("my name is:",a)
print(type(a))

enter your name:nani
my name is: nani
<class 'str'>

In [30]:
# input as number
a=int(input("enter a number:"))
print(a)
print(type(a))

enter a number:22
22
<class 'int'>

In [34]:
radius=int(input("enter a radius:"))
area=3.14*radius**2
print("area of the circle is",area)

enter a radius:10
area of the circle is 314.0

# Accept two numbers from the user and return their sum, multiplication and division

In [39]:
a=int(input("enter first number"))
b=int(input("enter second number"))
print("addition is:",a+b, "multiplicationis:",a*b,"division is:",a/b)

enter first number3
enter second number3
addition is: 6 multiplicationis: 9 division is: 1.0

# Using input() function, print() function and another function you may need; ask for the current year, then print the answer +50.

In [40]:
year=int(input("enter a year"))
print("result=",year+50)

enter a year2000
result= 2050